<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Program Selection</title>
</head>
<body>
<h1>Welcome, <span th:text="${firstName}"></span>!</h1>
<h1>Choose your program:</h1>
<form th:action="@{/checkout}">
  <input type="radio" id="softwareEng" name="program" value="softwareEng">
  <label for="softwareEng">Software Engineering Technology</label><br>

  <input type="radio" id="gameDev" name="program" value="gameDev">
  <label for="gameDev">Game Development</label><br>

  <button type="submit">Checkout</button>
</form>
</body>
</html>